.argo22-block.team-member-detail .thumb-wrap img {
  max-width: 100%;
  max-height: 100%;
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 150px;
}
@media screen and (max-width: 992px) {
  .argo22-block.team-member-detail .thumb-wrap img {
    width: 200px;
    height: 200px;
  }
}
.argo22-block.team-member-detail .member-position {
  color: var(--wp--preset--color--secondary);
}
.argo22-block.team-member-detail .contact-details a {
  word-break: break-all;
}