<!-- wp:cover {"overlayColor":"dark"} -->
<div class="wp-block-cover"><span aria-hidden="true" class="wp-block-cover__background has-dark-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
    <p class="has-text-align-center has-large-font-size">Argo 22 Testovací úloha - Martin Lévai</p>
    <!-- /wp:paragraph --></div></div>
    <!-- /wp:cover -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|70","right":"0","bottom":"var:preset|spacing|70","left":"0"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--70);padding-right:0;padding-bottom:var(--wp--preset--spacing--70);padding-left:0"><!-- wp:heading {"textAlign":"center","textColor":"dark","fontSize":"x-large"} -->
    <h2 class="wp-block-heading has-text-align-center has-dark-color has-text-color has-x-large-font-size">Team Member Detail</h2>
    <!-- /wp:heading -->
    
    <!-- wp:spacer {"height":"30px"} -->
    <div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:argo22/team-member-detail {"name":"argo22/team-member-detail","data":{"team_member":33,"_team_member":"field_646612e2ef19f","show_values_values":["thumbnail","title","description","position","phone_number","e-mail","reviewed_posts"],"_show_values_values":"field_646614671dcd7","show_values":"","_show_values":"field_646613c51dcd6"},"mode":"preview","backgroundColor":"secondary-2","textColor":"tertiary-1","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","right":"var:preset|spacing|70","bottom":"var:preset|spacing|70","left":"var:preset|spacing|70"}}}} /-->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|20"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--20)"><!-- wp:argo22/team-member-detail {"name":"argo22/team-member-detail","data":{"team_member":42,"_team_member":"field_646612e2ef19f","show_values_values":["title","description","phone_number","e-mail"],"_show_values_values":"field_646614671dcd7","show_values":"","_show_values":"field_646613c51dcd6"},"mode":"preview","backgroundColor":"secondary","textColor":"secondary-2","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","right":"var:preset|spacing|70","bottom":"var:preset|spacing|70","left":"var:preset|spacing|70"},"margin":{"bottom":"var:preset|spacing|20"}}}} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:argo22/team-member-detail {"name":"argo22/team-member-detail","data":{"team_member":38,"_team_member":"field_646612e2ef19f","show_values_values":["thumbnail","title","description","position","phone_number","e-mail","reviewed_posts"],"_show_values_values":"field_646614671dcd7","show_values":"","_show_values":"field_646613c51dcd6"},"mode":"preview","textColor":"dark","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","right":"var:preset|spacing|70","bottom":"var:preset|spacing|70","left":"var:preset|spacing|70"},"margin":{"top":"var:preset|spacing|20"}},"color":{"background":"#f1f1f1"}}} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|70","right":"0","bottom":"var:preset|spacing|70","left":"0"}}},"backgroundColor":"tertiary-1","layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-tertiary-1-background-color has-background" style="padding-top:var(--wp--preset--spacing--70);padding-right:0;padding-bottom:var(--wp--preset--spacing--70);padding-left:0"><!-- wp:heading {"textAlign":"center","textColor":"dark","fontSize":"x-large"} -->
    <h2 class="wp-block-heading has-text-align-center has-dark-color has-text-color has-x-large-font-size">Team Member Grid</h2>
    <!-- /wp:heading -->
    
    <!-- wp:spacer {"height":"30px"} -->
    <div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:argo22/team-member-grid {"name":"argo22/team-member-grid","data":{"members":["36","33","38","40"],"_members":"field_64667f07a6cfd","number_of_columns":"col-12 col-sm-6","_number_of_columns":"field_64667b3a0effe","show_members_position":"0","_show_members_position":"field_64667bb80efff"},"mode":"preview","backgroundColor":"tertiary-1","textColor":"dark","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}}} /-->
    
    <!-- wp:argo22/team-member-grid {"name":"argo22/team-member-grid","data":{"members":["38","40","31"],"_members":"field_64667f07a6cfd","number_of_columns":"col-12 col-sm-6 col-xl-4","_number_of_columns":"field_64667b3a0effe","show_members_position":"0","_show_members_position":"field_64667bb80efff"},"mode":"preview","backgroundColor":"tertiary-1","textColor":"dark","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"margin":{"top":"0","bottom":"0"}}}} /-->
    
    <!-- wp:argo22/team-member-grid {"name":"argo22/team-member-grid","data":{"members":["31","9","46","33"],"_members":"field_64667f07a6cfd","number_of_columns":"col-12 col-sm-6 col-xl-3","_number_of_columns":"field_64667b3a0effe","show_members_position":"0","_show_members_position":"field_64667bb80efff"},"mode":"preview","backgroundColor":"tertiary-1","textColor":"dark","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}}} /-->
    
    <!-- wp:argo22/team-member-grid {"name":"argo22/team-member-grid","data":{"members":["31","36"],"_members":"field_64667f07a6cfd","number_of_columns":"col-12 col-sm-6","_number_of_columns":"field_64667b3a0effe","show_members_position":"0","_show_members_position":"field_64667bb80efff"},"mode":"preview","backgroundColor":"primary","textColor":"dark","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","right":"var:preset|spacing|60","bottom":"var:preset|spacing|40","left":"var:preset|spacing|60"},"margin":{"top":"var:preset|spacing|80","right":"0"}}}} /--></div>
    <!-- /wp:group -->